{%extends 'base.html'%}

{%block title%}書籍詳細{%endblock title%}

{%block content%}
    <div class ="card" >
        <h5 class ="card-header">{{object.category}}</h5>
        <div class ="card-body">
            <p class ="card-text">{{object.text}}</p>
            <a href="{% url 'book-list'%}" class="btn btn-primary" style ="margin-right:10px">一覧</a>
            <a href="{% url 'book-update' object.pk%}" class="btn btn-primary" style ="margin-right:10px" >編集</a>
            <a href="{% url 'book-delete' object.pk%}" class="btn btn-primary" >削除</a>
            <h6 class="card-title" style = "padding-top:20px">{{object.title}}</h6>
        </div>
    </div>
{%endblock content%}